*.mk
*.log
*~
*.vcxproj.user
python
build/
Debug/
Release/
Release_Static/
builds/
winbuild/
lib/
out/
src/branding
src/third_party/boost/
src/third_party/breakpad/
src/third_party/c-ares/
src/third_party/curl-shared/
src/third_party/curl-static/
src/third_party/depot_tools/
src/third_party/gyp/
src/third_party/v8/
src/third_party/wxWidgets/
src/third_party/wxWidgets_debug/
build_lin/logs/
build_out/debug_lin/*
build_out/release_lin/*
tools/*
Makefile
build_out/debug_win/Cache
build_out/debug_win/Common
build_out/debug_win/data
build_out/release_win/Cache
build_out/release_win/Common
build_out/release_win/data
build_win/lib
build_win/bin
build_win/Debug
build_win/ipch
/build_out/debug_win/bin/avcodec-53.dll
/build_out/debug_win/bin/avformat-53.dll
/build_out/debug_win/bin/avutil-51.dll
/build_out/debug_win/bin/cef_desura.dll
/build_out/debug_win/bin/crashuploader-d.dll
/build_out/debug_win/bin/gcswf32.dll
/build_out/debug_win/bin/icudt.dll
/build_out/debug_win/bin/mcfcore-d.dll
/build_out/debug_win/bin/mfc100.dll
/build_out/debug_win/bin/msvcp100.dll
/build_out/debug_win/bin/msvcr100.dll
/build_out/debug_win/bin/scriptcore-d.dll
/build_out/debug_win/bin/servicecore_c-d.dll
/build_out/debug_win/bin/uicore-d.dll
/build_out/debug_win/bin/usercore-d.dll
/build_out/debug_win/bin/utilcore-d.dll
/build_out/debug_win/bin/webcore-d.dll
/build_out/debug_win/bin/wxmsw290ud_vc_desura.dll
/build_out/debug_win/desura-d.exe
/build_out/debug_win/desura_browserhost-d.exe
/build_out/debug_win/desura_service.exe
/build_out/debug_win/toolhelper-d.exe
/build_out/debug_win/utility-d.exe
/build_out/release_win/bin/wxmsw290u_vc_desura.dll
/build_win/desura.opensdf
/build_win/desura.sdf
/build_win/desura.sln.docstates.suo
/build_win/desura.suo